

<h1>Everything!@#</h1>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

<% if user_logged_in? %>
<h3> hello, <%= current_user.email%> </h3>
<ul class="nav navbar-nav navbar-right">
<%= link_to "Sign Out", sign_out_path, method: :delete %>
<%= link_to 'New Post', new_user_post_path(current_user) %>
<% else %>
<%= link_to "Sign In", sign_in_path %>
<%= link_to 'Sign Up', new_user_path %>
<% end %>
</nav>
</div>
</nav>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <div class="body">
      <th>Body</th>
    </div>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class = "posts">
    <% @posts.each do |post| %>
      <tr class = "post">
        <td><%= post.title %></td>
        <td><%= link_to post.body, user_post_path(post.user, post) %></td>
        <td><%= post.user.email %></td>
        <td><%= link_to 'Show', user_post_path(post.user, post) %></td>
        <% if current_user == post.user %>
        <td><%= link_to 'Edit', edit_user_post_path(post.user, post) %></td>
        <td><%= link_to 'Destroy', user_post_path(post.user, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
